<header>
    <h1>{{pageTitle}}</h1>
    <p>
        <a href="/ermiastam.github.io/">Home</a>
    </p>
    <p>
        <a href="/ermiastam.github.io/about">About</a>
    </p>
    <p>
        <a href="/ermiastam.github.io/help.html">Help</a>
    </p>

</header> 