<!DOCTYPE html>

<html>
    <head>
      <meta charset="utf-8" >
      <title>Some Web site</title>
    </head>

    <body>
      <h1>{{claim}}</h1>  
        {{>header}}
        <p>
           {{toUpperCase welComeMsg}}
        </p>
       {{>footer}}
    </body>
</html>